<div *ngIf="!modal && !assignarPersona" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Jugadores</h1>
</div>

<div *ngIf="!jugadorSeleccionado" [ngClass]="{'mt-3':modal}">
  <mat-form-field>
    <input matInput type="text" placeholder="Filtrar" (keyup)="applyFilter($event.target.value)">
  </mat-form-field>

  <mat-form-field class="ml-5">
    <mat-label>Mètodo de visualización</mat-label>
    <mat-select [(value)]="metodoVisualizacion" (valueChange)="ngOnInit();ngAfterViewInit()">
      <mat-option [value]="'alta'">Alta</mat-option>
      <mat-option [value]="'baja'">Baja</mat-option>
      <mat-option [value]="'all'">Todo</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="ml-5">
    <mat-label>Concepto</mat-label>
    <mat-select #selectConcepto [(value)]="conceptoSelecciopnado" (valueChange)="ngOnInit();ngAfterViewInit()">
      <mat-option *ngFor="let tipo of tiposPago" [value]="tipo.id">
        {{tipo.concepto}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="ml-5">
    <mat-select [(value)]="estadoJugador" (valueChange)="ngOnInit();ngAfterViewInit()">
      <mat-option [value]="'inscritos'">Inscritos</mat-option>
      <mat-option [value]="'noInscritos'">No Inscritos</mat-option>
      <mat-option [value]="'all'">Todo</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox class="ml-5" [checked]="sinFamiliaresAsignados" (change)="sinFamiliaresAsignados=$event.checked;ngOnInit();ngAfterViewInit()">Sin familiares asignados</mat-checkbox>
  <mat-checkbox class="ml-5" [checked]="sinEquiposAsignados" (change)="sinEquiposAsignados=$event.checked;ngOnInit();ngAfterViewInit()">Sin Equipos asignados</mat-checkbox>

  <mat-form-field *ngIf="modal" class="float-right">
    <mat-label [ngClass]="{'text-danger': parentescoSeleccionado === undefined}">Selecciona el parentesco</mat-label>
    <mat-select [(value)]="parentescoSeleccionado">
      <mat-option *ngFor="let tipo of tiposParentesco" [value]="tipo.id">
        {{tipo.tipo_parentesco}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button *ngIf="!modal && !assignarPersona" (click)="startAdd()" class="btn btn-success float-right">Añadir</button>

  <button (click)="downloadJugadores()" class="btn btn-primary float-right mr-2">Exportar datos equipación</button>

  <div class="mat-elevation-z8">
    <mat-spinner [diameter]="50" *ngIf="isLoadingResults"></mat-spinner>
    <table class="w-100" mat-table [dataSource]="dataSource" matSort matSortActive="primer_apellido" matSortStart="asc">

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="primer_apellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Primer Apellido </th>
        <td mat-cell *matCellDef="let row"> {{row.primer_apellido}} </td>
      </ng-container>

      <ng-container matColumnDef="segundo_apellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Segundo Apellido </th>
        <td mat-cell *matCellDef="let row"> {{row.segundo_apellido}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha_nacimiento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Nacimiento </th>
        <td mat-cell *matCellDef="let row"> {{row.fecha_nacimiento | date:'dd-MM-yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="sexo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexo </th>
        <td mat-cell *matCellDef="let row"> {{row.sexo}} </td>
      </ng-container>

      <ng-container matColumnDef="observaciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Observaciones </th>
        <td mat-cell *matCellDef="let row"> {{row.observaciones}} </td>
      </ng-container>

      <!-- Acciones sin modal -->
      <ng-container *ngIf="!modal && !assignarPersona" matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="pl-4">Acciones</th>
        <td mat-cell *matCellDef="let row">
          <a mat-icon-button class="btn-table text-info" (click)="showItem(row)" tooltip="Mostrar info">
            <mat-icon class="mat-18">reorder</mat-icon>
          </a>

          <a mat-icon-button class="btn-table text-warning" (click)="startEdit(row)" tooltip="Editar">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </a>

          <a mat-icon-button *ngIf="row.baja === '0'" class="btn-table text-muted" (click)="bajaItem(row)" tooltip="Dar de Baja">
            <mat-icon aria-label="Delete">arrow_downward</mat-icon>
          </a>
          <a mat-icon-button *ngIf="row.baja === '1'" class="btn-table text-muted" (click)="altaItem(row)" tooltip="Dar de Alta">
            <mat-icon aria-label="Delete">arrow_upward</mat-icon>
          </a>
        </td>
      </ng-container>

      <!-- Acciones en modal -->
      <ng-container *ngIf="modal" matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <a mat-icon-button class="btn-table text-info" (click)="addJugadorToFamiliar(row)" tooltip="Añadir">
            <mat-icon class="mat-18">add</mat-icon>
          </a>
        </td>
      </ng-container>

      <!-- Acciones en assignarPersona -->
      <ng-container *ngIf="assignarPersona" matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <a mat-icon-button class="btn-table text-info" (click)="assigna(row)" tooltip="Añadir">
            <mat-icon class="mat-18">add</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <div class="no-results" *ngIf="dataSource.data.length == 0">
      No hay datos
    </div>

    <mat-paginator *ngIf="!modal" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    <mat-paginator *ngIf="modal" [pageSize]="5"></mat-paginator>
  </div>
</div>

<div *ngIf="jugadorSeleccionado && !crearJugador">
  <div class="row">
    <div class="col-3">
      <h2>Detalles Jugador</h2>
    </div>
    <div class="col-3 text-right float-right">
      <a (click)="startFamiliares()" class="btn btn-success text-white">Familiares</a>
    </div>
    <div class="col-3 text-right float-right">
      <a (click)="startPagosUsuario()" class="btn btn-primary text-white">Contabilidad</a>
    </div>
    <div class="col-3 text-right">
      <a (click)="volver()" class="btn btn-secondary text-white">Volver al listado</a>
    </div>
  </div>
  <form #editForm="ngForm" (ngSubmit)="save()">
    <div class="form-row">
      <div class="col-1">
        <label for="inputId">Id</label>
        <input type="number" class="form-control" id="inputId" name="id" value="{{jugadorSeleccionado.id}}" [(ngModel)]="jugadorSeleccionado.id" disabled>
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="col">
        <label for="inputNombre">Nombre</label>
        <input type="text" class="form-control" id="inputNombre" name="nombre" #inputNombre="ngModel" [disabled]="!editarJugador" [(ngModel)]="jugadorSeleccionado.nombre" required>
        <div *ngIf="!inputNombre.valid && (inputNombre.dirty || inputNombre.touched)" class="text-danger">Campo requerido</div>
      </div>
      <div class="col">
        <label for="inputPrimerApellido">Primer Apellido</label>
        <input type="text" class="form-control" id="inputPrimerApellido" name="primer_apellido" #inputPrimerApellido="ngModel" [disabled]="!editarJugador" [(ngModel)]="jugadorSeleccionado.primer_apellido" required>
        <div *ngIf="!inputPrimerApellido.valid && (inputPrimerApellido.dirty || inputPrimerApellido.touched)" class="text-danger">Campo requerido</div>
      </div>
      <div class="col">
        <label for="inputSegundoApellido">Segundo Apellido</label>
        <input type="text" class="form-control" id="inputSegundoApellido" name="segundo_apellido" [disabled]="!editarJugador" [(ngModel)]="jugadorSeleccionado.segundo_apellido">
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="col">
        <label for="inputDni">D.N.I./N.I.E</label>
        <input type="text" class="form-control" id="inputDni" name="dni" [disabled]="!editarJugador" #inputDni="ngModel" [(ngModel)]="jugadorSeleccionado.dni" required>
        <div *ngIf="!inputDni.valid && (inputDni.dirty || inputDni.touched)" class="text-danger">Campo requerido</div>
      </div>
      <div class="col">
        <label for="inputFechaNacimiento">Fecha Nacimiento</label>
        <input type="date" class="form-control" id="inputFechaNacimiento" name="fecha_nacimiento" #inputFechaNacimiento="ngModel" [disabled]="!editarJugador" [(ngModel)]="jugadorSeleccionado.fecha_nacimiento" required>
        <div *ngIf="!inputFechaNacimiento.valid && (inputFechaNacimiento.dirty || inputFechaNacimiento.touched)" class="text-danger">Campo requerido</div>
      </div>
      <div class="col">
        <label for="inputEdad">Edad</label>
        <input type="number" class="form-control" id="inputEdad" name="edad" #inputEdad="ngModel" disabled [(ngModel)]="jugadorSeleccionado.edad">
      </div>
      <div class="col">
        <label for="inputTelefono1">Teléfono 1</label>
        <input type="text" class="form-control" id="inputTelefono1" name="telefono1" #inputTelefono1="ngModel" [disabled]="!editarJugador" [(ngModel)]="jugadorSeleccionado.telefono1" required>
        <div *ngIf="!inputTelefono1.valid && (inputTelefono1.dirty || inputTelefono1.touched)" class="text-danger">Campo requerido</div>
      </div>
      <div class="col">
        <label for="inputTelefono2">Teléfono 2</label>
        <input type="text" class="form-control" id="inputTelefono2" name="telefono2"[disabled]="!editarJugador" [(ngModel)]="jugadorSeleccionado.telefono2">
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="col-6">
        <label for="inputDireccion">Dirección</label>
        <input type="text" class="form-control" id="inputDireccion" name="direccion" #inputDireccion="ngModel" [disabled]="!editarJugador" [(ngModel)]="jugadorSeleccionado.direccion" required>
        <div *ngIf="!inputDireccion.valid && (inputDireccion.dirty || inputDireccion.touched)" class="text-danger">Campo requerido</div>
      </div>
      <div class="col-2">
        <label for="inputCodigoPostal">Código Postal</label>
        <input type="text" class="form-control" id="inputCodigoPostal" name="codigo_postal" #inputCodigoPostal="ngModel" [disabled]="!editarJugador" [(ngModel)]="jugadorSeleccionado.codigo_postal" required>
        <div *ngIf="!inputCodigoPostal.valid && (inputCodigoPostal.dirty || inputCodigoPostal.touched)" class="text-danger">Campo requerido</div>
      </div>
      <div class="col-4">
        <label for="inputLocalidad">Población</label>
        <input type="text" class="form-control" id="inputLocalidad" name="localidad" #inputLocalidad="ngModel" [(ngModel)]="jugadorSeleccionado.localidad" [disabled]="!editarJugador" required>
        <div *ngIf="!inputLocalidad.valid && (inputLocalidad.dirty || inputLocalidad.touched)" class="text-danger">Campo requerido</div>
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="col">
        <label for="inputEmail">Correo electrónico</label>
        <input type="email" class="form-control" id="inputEmail" name="email" #inputEmail="ngModel" [(ngModel)]="jugadorSeleccionado.email" [disabled]="!editarJugador" required>
        <div *ngIf="!inputEmail.valid && (inputEmail.dirty || inputEmail.touched)" class="text-danger">El correo debe tener un formato correcto</div>
      </div>
      <div class="col">
        <label for="inputCodigoPostal">Observaciones</label>
        <textarea class="form-control" id="inputObservaciones" name="observaciones" [disabled]="!editarJugador" [(ngModel)]="jugadorSeleccionado.observaciones"></textarea>
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="col">
        <label for="inputTarjetaSanitaria">Tarjeta Sanitaria</label>
        <input type="text" class="form-control" id="inputTarjetaSanitaria" name="tarjetaSanitaria" #inputTarjetaSanitaria="ngModel" [(ngModel)]="jugadorSeleccionado.tarjetaSanitaria" [disabled]="!editarJugador" required>
        <div *ngIf="!inputTarjetaSanitaria.valid && (inputTarjetaSanitaria.dirty || inputTarjetaSanitaria.touched)" class="text-danger">Campo requerido</div>
      </div>
      <div class="col">
          <label for="selectSexo">Sexo</label>
          <select class="form-control" id="selectSexo" [disabled]="!editarJugador" name="id_sexo" #selectSexo="ngModel" [(ngModel)]="jugadorSeleccionado.id_sexo" required>
            <option *ngFor="let sexo of sexos" value="{{ sexo.id }}">{{ sexo.sexo }}</option>
          </select>
          <div *ngIf="!selectSexo.valid && (selectSexo.dirty || selectSexo.touched)" class="text-danger">Campo requerido</div>
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="col-6">
        Foto:<br/>
        <input type="file" accept="image/jpg" id="inputFoto" name="foto" #file [disabled]="!editarJugador" imageUpload (imageSelected)="selected($event)" [resizeOptions]="resizeOptions"/>
        <button type="button" class="close" tooltip="Eliminar foto" *ngIf="jugadorSeleccionado.foto !== '' && editarJugador" (click)="jugadorSeleccionado.foto = ''"><i class="fas fa-times-circle"></i></button>
        <img src="{{ jugadorSeleccionado.foto }}" height="100px" width="100px"/>
      </div>
      <!--<div *ngIf="jugadorSeleccionado.pagos" class="col-6">
        <h3>Pagos completados</h3>
        <mat-tab-group>
          <mat-tab *ngFor="let tipo of tiposPago" label="{{tipo.concepto}}">
            <div *ngIf="!checkHavePagos(jugadorSeleccionado.pagos, tipo.id)">
              <span *ngIf="!checkHaveInscripcion(jugadorSeleccionado, tipo.id)">No está inscrito</span>
              <span *ngIf="checkHaveInscripcion(jugadorSeleccionado, tipo.id)">No tiene pagos asociados</span>
            </div>
            <div *ngIf="checkHavePagos(jugadorSeleccionado.pagos, tipo.id)">
              <div class="row">
                <div class="col-6"><b><u>Descripción</u></b></div>
                <div class="col-3"><b><u>Fecha</u></b></div>
                <div class="col-3"><b><u>Importe</u></b></div>
              </div>
              <div class="row" *ngFor="let pago of getPagosFiltered(jugadorSeleccionado.pagos, tipo.id)">
                <div class="col-6">{{pago.descripcion}}</div>
                <div class="col-3">{{pago.fechaTransaccion}}</div>
                <div class="col-3">{{pago.importe}}</div>
              </div>
              <div class="row text-danger" *ngFor="let pago of getRestante(jugadorSeleccionado, tipo.id)">
                <div class="col-6">Restante</div>
                <div class="col-3 offset-3">{{pago.importe}}</div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>-->
    </div>
    <div class="form-row mt-3">
      <h3>Equipación</h3>
    </div>
    <div class="form-row mt-3">
      <div class="col-4">
        <label for="inputNombreDorsal">Nombre dorsal</label>
        <input type="text" class="form-control" id="inputNombreDorsal" name="nombre_dorsal" #inputNombreDorsal="ngModel" [(ngModel)]="jugadorSeleccionado.nombre_dorsal" [disabled]="!editarJugador">
        <!--<div *ngIf="!inputNombreDorsal.valid && (inputNombreDorsal.dirty || inputNombreDorsal.touched)" class="text-danger">Campo requerido</div>-->
      </div>
      <div class="col-4">
        <label for="inputNumeroDorsal">Numero dorsal</label>
        <input type="text" class="form-control" id="inputNumeroDorsal" name="numero_dorsal" #inputNumeroDorsal="ngModel" [(ngModel)]="jugadorSeleccionado.numero_dorsal" [disabled]="!editarJugador">
        <!--<div *ngIf="!inputNumeroDorsal.valid && (inputNumeroDorsal.dirty || inputNumeroDorsal.touched)" class="text-danger">Campo requerido</div>-->
      </div>
      <div class="col-4">
        <label for="inputTallaRopaJuego">Talla camiseta 2ª equipación</label>
        <input type="text" class="form-control" id="inputTallaRopaJuego" name="talla_ropa_juego" #inputTallaRopaJuego="ngModel" [(ngModel)]="jugadorSeleccionado.talla_ropa_juego" [disabled]="!editarJugador">
        <!--<div *ngIf="!inputTallaRopaJuego.valid && (inputTallaRopaJuego.dirty || inputTallaRopaJuego.touched)" class="text-danger">Campo requerido</div>-->
      </div>
    </div>
    <div class="form-row">

    </div>
    <div class="mt-3">
      <a *ngIf="!editarJugador" (click)="editar()" class="btn btn-info">Edición</a>
      <button *ngIf="editarJugador" [disabled]="!editForm.form.valid" type="submit" class="btn btn-success">Guardar</button>
      <a *ngIf="editarJugador" (click)="editarJugador = false" class="btn btn-secondary ml-3">Cancelar</a>
      <div class="btn alert-danger ml-3" *ngIf="error">{{ error }}</div>
    </div>
  </form>
</div>

<div *ngIf="crearJugador">
  <div class="row">
    <div class="col-3">
      <h2>Añadir Jugador</h2>
    </div>
    <div class="col-9 text-right">
      <a (click)="volver()" class="btn btn-light">Volver al listado</a>
    </div>
  </div>
  <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
    <mat-tab label="Nuevo">
      <form #addForm="ngForm" class="p-2" (ngSubmit)="store()">
        <div class="form-row mt-3">
          <div class="col">
            <label for="inputAddNombre">Nombre</label>
            <input type="text" class="form-control" id="inputAddNombre" name="nombre" #inputAddNombre="ngModel" [(ngModel)]="jugadorSeleccionado.nombre" required>
            <div *ngIf="!inputAddNombre.valid && (inputAddNombre.dirty || inputAddNombre.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col">
            <label for="inputAddPrimerApellido">Primer Apellido</label>
            <input type="text" class="form-control" id="inputAddPrimerApellido" name="primer_apellido" #inputAddPrimerApellido="ngModel" [(ngModel)]="jugadorSeleccionado.primer_apellido" required>
            <div *ngIf="!inputAddPrimerApellido.valid && (inputAddPrimerApellido.dirty || inputAddPrimerApellido.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col">
            <label for="inputAddSegundoApellido">Segundo Apellido</label>
            <input type="text" class="form-control" id="inputAddSegundoApellido" name="segundo_apellido" [(ngModel)]="jugadorSeleccionado.segundo_apellido">
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col">
            <label for="inputAddDni">D.N.I./N.I.E</label>
            <input type="text" class="form-control" id="inputAddDni" name="dni" #inputAddDni="ngModel" [(ngModel)]="jugadorSeleccionado.dni" required>
            <div *ngIf="!inputAddDni.valid && (inputAddDni.dirty || inputAddDni.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col">
            <label for="inputAddFechaNacimiento">Fecha Nacimiento</label>
            <input type="date" class="form-control" id="inputAddFechaNacimiento" name="fecha_nacimiento" #inputAddFechaNacimiento="ngModel" [(ngModel)]="jugadorSeleccionado.fecha_nacimiento" required>
            <div *ngIf="!inputAddFechaNacimiento.valid && (inputAddFechaNacimiento.dirty || inputAddFechaNacimiento.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col">
            <label for="inputAddTelefono1">Teléfono 1</label>
            <input type="text" class="form-control" id="inputAddTelefono1" name="telefono1" #inputAddTelefono1="ngModel" [(ngModel)]="jugadorSeleccionado.telefono1" required>
            <div *ngIf="!inputAddTelefono1.valid && (inputAddTelefono1.dirty || inputAddTelefono1.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col">
            <label for="inputAddTelefono2">Teléfono 2</label>
            <input type="text" class="form-control" id="inputAddTelefono2" name="telefono2" [(ngModel)]="jugadorSeleccionado.telefono2">
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col-6">
            <label for="inputAddDireccion">Dirección</label>
            <input type="text" class="form-control" id="inputAddDireccion" name="direccion" #inputAddDireccion="ngModel" [(ngModel)]="jugadorSeleccionado.direccion" required>
            <div *ngIf="!inputAddDireccion.valid && (inputAddDireccion.dirty || inputAddDireccion.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col-2">
            <label for="inputAddCodigoPostal">Código Postal</label>
            <input type="text" class="form-control" id="inputAddCodigoPostal" name="codigo_postal" #inputAddCodigoPostal="ngModel" [(ngModel)]="jugadorSeleccionado.codigo_postal" required>
            <div *ngIf="!inputAddCodigoPostal.valid && (inputAddCodigoPostal.dirty || inputAddCodigoPostal.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col-4">
            <label for="inputAddLocalidad">Población</label>
            <input type="text" class="form-control" id="inputAddLocalidad" name="localidad" #inputAddLocalidad="ngModel" [(ngModel)]="jugadorSeleccionado.localidad" required />
            <div *ngIf="!inputAddLocalidad.valid && (inputAddLocalidad.dirty || inputAddLocalidad.touched)" class="text-danger">Campo requerido</div>
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col">
            <label for="inputAddEmail">Correo electrónico</label>
            <input type="email" class="form-control" id="inputAddEmail" name="email" #inputAddEmail="ngModel" [email]="true" [(ngModel)]="jugadorSeleccionado.email" required />
            <div *ngIf="!inputAddEmail.valid && (inputAddEmail.dirty || inputAddEmail.touched)" class="text-danger">El correo debe tener un formato correcto</div>
          </div>
          <div class="col">
            <label for="inputAddCodigoPostal">Observaciones</label>
            <textarea class="form-control" id="inputAddObservaciones" name="observaciones" [(ngModel)]="jugadorSeleccionado.observaciones"></textarea>
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col">
            <label for="inputAddTarjetaSanitaria">Tarjeta Sanitaria</label>
            <input type="text" class="form-control" id="inputAddTarjetaSanitaria" name="tarjetaSanitaria" #inputAddTarjetaSanitaria="ngModel" [(ngModel)]="jugadorSeleccionado.tarjetaSanitaria" required>
            <div *ngIf="!inputAddTarjetaSanitaria.valid && (inputAddTarjetaSanitaria.dirty || inputAddTarjetaSanitaria.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col">
            <label for="selectAddSexo">Sexo</label>
            <select class="form-control" id="selectAddSexo" name="id_sexo" #selectAddSexo="ngModel" [(ngModel)]="jugadorSeleccionado.id_sexo" required>
              <option *ngFor="let sexo of sexos" value="{{ sexo.id }}">{{ sexo.sexo }}</option>
            </select>
            <div *ngIf="!selectAddSexo.valid && (selectAddSexo.dirty || selectAddSexo.touched)" class="text-danger">Campo requerido</div>
          </div>
        </div>
        <div class="form-row mt-3">
          Foto:
        </div>
        <div class="form-row">
          <input type="file" accept="image/jpg" id="inputAddFoto" name="foto" #file imageUpload (imageSelected)="selected($event)" [resizeOptions]="resizeOptions"/>
          <button type="button" class="close" tooltip="Eliminar foto" *ngIf="jugadorSeleccionado.foto !== '' && crearJugador" (click)="jugadorSeleccionado.foto = ''"><i class="fas fa-times-circle"></i></button>
          <img src="{{ jugadorSeleccionado.foto }}" height="100px" width="100px"/>
        </div>
        <div class="mt-3">
          <button [disabled]="!addForm.form.valid" type="submit" class="btn btn-success">Guardar</button>
          <a (click)="volver()" class="btn btn-secondary ml-3">Cancelar</a>
          <div class="btn alert-danger ml-3" *ngIf="error">{{ error }}</div>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Añadir desde familiar existente">
      <app-familiares
        [assignarPersona]="true"
        [assignaA]="'jugador'"
        [controlador]="this"
      ></app-familiares>
    </mat-tab>
    <mat-tab label="Añadir desde entrenador existente">
      <app-entrenadores
        [assignarPersona]="true"
        [assignaA]="'jugador'"
        [controlador]="this"></app-entrenadores>
    </mat-tab>
    <mat-tab label="Añadir desde directivo existente">
      <app-directivos
        [assignarPersona]="true"
        [assignaA]="'jugador'"
        [controlador]="this"></app-directivos>
    </mat-tab>
  </mat-tab-group>
</div>
<ngx-spinner
  bdColor = "rgba(51,51,51,0.8)"
  size = "medium"
  color = "#fff"
  type = "ball-climbing-dot"
  [fullScreen] = "true"
>
  <p style="color: white" > Espere por favor... </p>
</ngx-spinner>
