<div *ngIf="!modal && !assignarPersona" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Mis Pagos</h1>
</div>

<!--<div *ngIf="!modal && !assignarPersona" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"> · LIGA REGULAR</h1>
</div>-->
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel *ngFor="let concepto of arrayFinal" class="acordeonConcepto">
    <mat-expansion-panel-header>
      <mat-panel-title class="conceptoTitulo"><h2>{{concepto.tipo}}</h2></mat-panel-title>
    </mat-expansion-panel-header>

    <mat-accordion class="example-headers-align">
      <mat-expansion-panel *ngFor="let persona of concepto.data" style="margin-bottom: 15px;">
        <mat-expansion-panel-header [ngClass]="{'pagoCompletado':persona.restante==0,'pagoNoCompletado':persona.restante>0}">
          <mat-panel-title><h3>{{persona.jugador}}</h3></mat-panel-title>
          <mat-panel-description><h5>Quota total: {{persona.quota}} €</h5><h5 id="separadorDescripcion" [hidden]="persona.restante==0">/</h5><h5 [hidden]="persona.restante==0">Restante: {{persona.restante}} €</h5></mat-panel-description>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <hr style="background-color: #28a745;">
          <mat-list-item>
            <h4>Concepto</h4><hr><h4>Fecha</h4><hr><h4>Importe</h4>
          </mat-list-item>
          <mat-list-item *ngFor="let pagos of persona.pagos">
            <p>{{pagos.descripcion}}</p><hr><p>{{pagos.fecha}}</p><hr><p class="precioImporte">{{pagos.importe}} €</p>
          </mat-list-item>
          <hr style="background-color: #28a745;">
          <p style="float: right;font-size: 18px;" [hidden]="persona.restante==0">Seleccione la cantidad a pagar: 
            <select name="selectPrice" [(ngModel)]="seleccionado">
              <option [value]="item" *ngFor="let item of persona.importesSelect">{{item}}€</option>
            </select>
          </p>
          <!--<p style="float: right;font-size: 18px;" [hidden]="persona.colorHeader==0">Seleccione la cantidad a pagar: 
            <select id="idSelectPrice" name="selectPrice">
              <option value="50" selected>50€</option>
              <option value="100">100€</option>
              <option value="{{persona.restanteSelect}}">{{persona.restanteSelect}}€</option>
            </select>
          </p>-->
          <br><br>
          <button class="bt-realizarPago" (click)="realizarPago(concepto.idTipo, concepto.tipo, persona.idJugador)" [hidden]="persona.restante==0">Realizar pago</button> 
        </mat-nav-list>

      </mat-expansion-panel>
    </mat-accordion>

  </mat-expansion-panel>
</mat-accordion>
<!--<button (click)="test()"></button>-->