.familiar {
  border: 1px solid;
  border-radius: 10px;
  border-color: #00621b;
  margin: 1%;
}
i.fa-user-minus, i.fa-user-edit {
  cursor: pointer;
}
app-jugadores {
  max-height: 300px;
}
app-familiares {
  max-height: 300px;
}
app-entrenadores {
  max-height: 300px;
}
app-directivos {
  max-height: 300px;
}
