<div class="container">
  <button mat-dialog-close="true" class="close"><i class="fas fa-times-circle"></i></button>
  <h3><i class="fas fa-users"></i> Familiares del jugador: {{ data.jugador.nombre }} {{ data.jugador.primer_apellido }} {{ data.jugador.segundo_apellido }} </h3>
  <div class="row mt-4 mb-4">
    <h5 *ngIf="familiaresAssignados?.length === 0">El jugador aún no tiene familiares asignados</h5>
    <div class="col-3 familiar" *ngFor="let familiar of familiaresAssignados">
      <div class="row">
        <div class="col-7 font-weight-bold">
          {{ familiar.tipo_parentesco }}
        </div>
        <div class="col-5 text-right">
          <i (click)="editFamiliar(familiar)" tooltip="Editar familiar" class="fas fa-user-edit text-info"></i>
          <i (click)="removeFamiliar(data.jugador, familiar)" tooltip="Desvincular familiar" class="fas fa-user-minus text-danger ml-1"></i>
        </div>
      </div>
      <div class="row">
        <div class="col">
          {{ familiar.nombre }} {{ familiar.primer_apellido }} {{ familiar.segundo_apellido }}
        </div>
      </div>
    </div>
  </div>
  <a *ngIf="!anyadirFamiliar" (click)="anyadirFamiliar = true;" class="btn btn-info">Añadir Familiar</a>
  <h3 *ngIf="anyadirFamiliar" class="mt-3">Añadir familiar</h3>
  <small *ngIf="anyadirFamiliar">*Seleccione la pestaña, el parentesco y añada con el botón +</small>
  <mat-tab-group *ngIf="anyadirFamiliar" mat-stretch-tabs class="mat-elevation-z4">
    <mat-tab label="Familiar">
      <app-familiares #familiaresComponent
        [modal]= true
        [addTo]="data.jugador"
        [addToString]= "'familiar'"
        [modalObert]="this"
      ></app-familiares>
    </mat-tab>
    <mat-tab label="Jugador">
      <app-jugadores #jugadoresComponent
        [modal]= true
        [addTo]="data.jugador"
        [addToString]= "'familiar'"
        [modalObert]="this"
      ></app-jugadores>
    </mat-tab>
    <mat-tab label="Entrenador">
      <app-entrenadores #entrenadoresComponent
        [modal]= true
        [addTo]="data.jugador"
        [addToString]= "'familiar'"
        [modalObert]="this"
      ></app-entrenadores>
    </mat-tab>
    <mat-tab label="Directivo">
      <app-directivos #directivosComponent
        [modal]= true
        [addTo]="data.jugador"
        [addToString]= "'familiar'"
        [modalObert]="this"
      ></app-directivos>
    </mat-tab>
    <mat-tab label="Nuevo">
      <form #addForm="ngForm" class="p-2" (ngSubmit)="store(); addForm.reset()">
        <div class="form-row mt-auto">
          <div class="col">
            <label for="inputAddNombre">Nombre</label>
            <input type="text" class="form-control" id="inputAddNombre" name="nombre" #inputAddNombre="ngModel" [(ngModel)]="familiarParaCrear.nombre" required>
            <div *ngIf="!inputAddNombre.valid && (inputAddNombre.dirty || inputAddNombre.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col">
            <label for="inputAddPrimerApellido">Primer Apellido</label>
            <input type="text" class="form-control" id="inputAddPrimerApellido" name="primer_apellido" #inputAddPrimerApellido="ngModel" [(ngModel)]="familiarParaCrear.primer_apellido" required>
            <div *ngIf="!inputAddPrimerApellido.valid && (inputAddPrimerApellido.dirty || inputAddPrimerApellido.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col">
            <label for="inputAddSegundoApellido">Segundo Apellido</label>
            <input type="text" class="form-control" id="inputAddSegundoApellido" name="segundo_apellido" [(ngModel)]="familiarParaCrear.segundo_apellido">
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col">
            <label for="inputAddDni">D.N.I./N.I.E</label>
            <input type="text" class="form-control" id="inputAddDni" name="dni" #inputAddDni="ngModel" [(ngModel)]="familiarParaCrear.dni" required>
            <div *ngIf="!inputAddDni.valid && (inputAddDni.dirty || inputAddDni.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col">
            <label for="inputAddFechaNacimiento">Fecha Nacimiento</label>
            <input type="date" class="form-control" id="inputAddFechaNacimiento" name="fecha_nacimiento" [(ngModel)]="familiarParaCrear.fecha_nacimiento">
          </div>
          <div class="col">
            <label for="inputAddTelefono1">Teléfono 1</label>
            <input type="text" class="form-control" id="inputAddTelefono1" name="telefono1" #inputAddTelefono1="ngModel" [(ngModel)]="familiarParaCrear.telefono1" required>
            <div *ngIf="!inputAddTelefono1.valid && (inputAddTelefono1.dirty || inputAddTelefono1.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col">
            <label for="inputAddTelefono2">Teléfono 2</label>
            <input type="text" class="form-control" id="inputAddTelefono2" name="telefono2" [(ngModel)]="familiarParaCrear.telefono2">
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col-6">
            <label for="inputAddDireccion">Dirección</label>
            <input type="text" class="form-control" id="inputAddDireccion" name="direccion" #inputAddDireccion="ngModel" [(ngModel)]="familiarParaCrear.direccion" required>
            <div *ngIf="!inputAddDireccion.valid && (inputAddDireccion.dirty || inputAddDireccion.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col-2">
            <label for="inputAddCodigoPostal">Código Postal</label>
            <input type="text" class="form-control" id="inputAddCodigoPostal" name="codigo_postal" #inputAddCodigoPostal="ngModel" [(ngModel)]="familiarParaCrear.codigo_postal" required>
            <div *ngIf="!inputAddCodigoPostal.valid && (inputAddCodigoPostal.dirty || inputAddCodigoPostal.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col-4">
            <label for="inputAddLocalidad">Población</label>
            <input type="text" class="form-control" id="inputAddLocalidad" name="localidad" #inputAddLocalidad="ngModel" [(ngModel)]="familiarParaCrear.localidad" required />
            <div *ngIf="!inputAddLocalidad.valid && (inputAddLocalidad.dirty || inputAddLocalidad.touched)" class="text-danger">Campo requerido</div>
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col">
            <label for="inputAddEmail">Correo electrónico</label>
            <input type="email" class="form-control" id="inputAddEmail" name="email" #inputAddEmail="ngModel" [email]="true" [(ngModel)]="familiarParaCrear.email" required />
            <div *ngIf="!inputAddEmail.valid && (inputAddEmail.dirty || inputAddEmail.touched)" class="text-danger">El correo debe tener un formato correcto</div>
          </div>
          <div class="col">
            <label for="inputAddCodigoPostal">Observaciones</label>
            <textarea class="form-control" id="inputAddObservaciones" name="observaciones" [(ngModel)]="familiarParaCrear.observaciones"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="selectSexo">Sexo</label>
            <select class="form-control" id="selectSexo" name="id_sexo" [(ngModel)]="familiarParaCrear.id_sexo" required>
              <option *ngFor="let sexo of sexos" value="{{ sexo.id }}">{{ sexo.sexo }}</option>
            </select>
          </div>
        </div>
        <mat-form-field class="float-right">
          <mat-label [ngClass]="{'text-danger': parentescoSeleccionado === undefined}">Selecciona el parentesco</mat-label>
          <mat-select [(value)]="parentescoSeleccionado">
            <mat-option *ngFor="let tipo of tiposParentesco" [value]="tipo.id">
              {{tipo.tipo_parentesco}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button [disabled]="!addForm.form.valid || (parentescoSeleccionado === undefined)" type="submit" class="btn btn-success">Guardar</button>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
