<div md-dialog-actions class="mt-3">
  <button *ngIf="editarEquipo" md-button class="btn btn-danger float-right" (click)="eliminarEquipo()" type="button">Eliminar</button>
</div>
<form #addForm="ngForm" class="p-2" (ngSubmit)="saveEquipo()">
<mat-form-field class="example-full-width">
  <input [(ngModel)]="temporada" type="text" name="temporada" matInput placeholder="Temporada" readonly>
</mat-form-field>
<br/>
<mat-form-field>
  <mat-label>Selecciona Tipo de categoría</mat-label>
  <mat-select [(ngModel)]="equipo.id_tipo_categoria" #selectTipoCategoria="ngModel" name="tipoCategoria" required>
    <mat-option *ngFor="let tipoCategoria of tiposCategoria" value={{tipoCategoria.id}}>{{tipoCategoria.tipo}}</mat-option>
  </mat-select>
  <div *ngIf="!selectTipoCategoria.valid && (selectTipoCategoria.dirty || selectTipoCategoria.touched)" class="text-danger">Campo requerido</div>
</mat-form-field>
<mat-form-field>
  <mat-label>Selecciona Categoría</mat-label>
  <mat-select [(ngModel)]="equipo.id_categoria" #selectCategoria="ngModel" name="categoria" required>
    <mat-option *ngFor="let categoria of categorias" value="{{categoria.id}}">{{categoria.categoria}}</mat-option>
  </mat-select>
  <div *ngIf="!selectCategoria.valid && (selectCategoria.dirty || selectCategoria.touched)" class="text-danger">Campo requerido</div>
</mat-form-field>
  <mat-form-field class="example-full-width">
    <input [(ngModel)]="equipo.descripcion" type="text" name="descripcion" matInput placeholder="Descripción" >
  </mat-form-field>
<br/>
<mat-form-field>
  <mat-label>Selecciona Competición</mat-label>
  <mat-select [(ngModel)]="equipo.id_competicion" #selectCompeticion="ngModel" name="competicion" required>
    <mat-option *ngFor="let competicion of competiciones" value="{{competicion.id}}">{{competicion.competicio}}</mat-option>
  </mat-select>
  <div *ngIf="!selectCompeticion.valid && (selectCompeticion.dirty || selectCompeticion.touched)" class="text-danger">Campo requerido</div>
</mat-form-field>
<mat-form-field class="example-full-width">
  <input [(ngModel)]="equipo.id_fcbq" type="text" name="id_fcbq" matInput placeholder="Codigo FCBQ" >
</mat-form-field>
<br/>
<mat-form-field>
  <input [(ngModel)]="equipo.nacidos_desde_anyo" #nacidosDesdeAnyo="ngModel" name="nacidosDesdeAnyo" type="number" min="1900" max="2050" matInput placeholder="Desde año" required>
  <div *ngIf="!nacidosDesdeAnyo.valid && (nacidosDesdeAnyo.dirty || nacidosDesdeAnyo.touched)" class="text-danger">Campo requerido</div>
</mat-form-field>
<mat-form-field>
  <input [(ngModel)]="equipo.nacidos_hasta_anyo" #nacidosHastaAnyo="ngModel" name="nacidosHastaAnyo" type="number" [min]="equipo.nacidos_desde_anyo" max="2050" matInput placeholder="Hasta año" required>
  <div *ngIf="!nacidosHastaAnyo.valid && (nacidosHastaAnyo.dirty || nacidosHastaAnyo.touched)" class="text-danger">Campo requerido</div>
</mat-form-field>
<br/>
<div class="mt-3">
  Foto:<br/>
  <input type="file" accept="image/jpg" id="inputAddFoto" name="foto" #file imageUpload (imageSelected)="selected($event)" [resizeOptions]="resizeOptions"/>
  <button type="button" class="close" tooltip="Eliminar foto" *ngIf="equipo.foto !== ''" (click)="equipo.foto = ''"><i class="fas fa-times-circle"></i></button>
  <img src="{{ equipo.foto }}" width="300px"/>
</div>
<div md-dialog-actions class="mt-3">
  <button md-button class="btn btn-success float-left" [disabled]="addForm.invalid" type="submit">Confirmar</button>
  <a md-button class="btn btn-danger float-right text-white" (click)="dialog.close()">Cancelar</a>
</div>
</form>
<ngx-spinner
  bdColor = "rgba(51,51,51,0.8)"
  size = "medium"
  color = "#fff"
  type = "ball-climbing-dot"
  [fullScreen] = "true"
>
  <p style="color: white" > Espere por favor... </p>
</ngx-spinner>
