<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Partidos</h1>
</div>

<mat-tab-group (selectedTabChange)="volver()">
  <mat-tab label="Temporada" [disabled]="partidoSeleccionado">
    <div *ngIf="!partidoSeleccionado" class="p-2 mt-4">
      <mat-form-field>
        <input matInput #filter type="text" placeholder="Filtrar" (keyup)="applyFilterPartidosTemporada($event.target.value)">
      </mat-form-field>


      <div class="mat-elevation-z8">
        <mat-spinner [diameter]="50" *ngIf="isLoadingResults"></mat-spinner>
        <table class="w-100" mat-table [dataSource]="dataSourcePartidosTemporada" #sortPartidosTemporada="matSort" matSort>

          <ng-container matColumnDef="nombreEquipoLocal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Equipo Local</th>
            <td mat-cell *matCellDef="let row"> {{row.nombreEquipoLocal}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre_equipo_visitante">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Equipo Visitante</th>
            <td mat-cell *matCellDef="let row"> {{row.nombre_equipo_visitante}} </td>
          </ng-container>

          <ng-container matColumnDef="fecha_partido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
            <td mat-cell *matCellDef="let row"> {{row.fecha_partido}} </td>
          </ng-container>

          <ng-container matColumnDef="hora_partido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora</th>
            <td mat-cell *matCellDef="let row"> {{row.hora_partido}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="pl-4">Acciones</th>
            <td mat-cell *matCellDef="let row">
              <a mat-icon-button class="btn-table text-info" (click)="showItem(row)" tooltip="Mostrar info">
                <mat-icon class="mat-18">reorder</mat-icon>
              </a>
              <a mat-icon-button class="btn-table text-warning" (click)="startEdit(row)" tooltip="Editar">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>

        <div class="no-results" *ngIf="dataSourcePartidosTemporada.data.length == 0">
          No hay datos
        </div>

        <mat-paginator #paginatorPartidosTemporada [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>

    <div *ngIf="partidoSeleccionado && !crearPartido">
      <div class="row mt-4">
        <div class="col-3">
          <h2>Detalles Partido</h2>
        </div>
        <div class="col-9 text-right">
          <a (click)="volver()" class="btn btn-secondary text-white">Volver al listado</a>
        </div>
      </div>
      <form #editForm="ngForm" (ngSubmit)="save()">
        <div class="form-row mt-4">
          <div class="col">
            <label for="inputEquipoLocal">Equipo Local</label>
            <!--<input type="text" class="form-control" id="inputEquipoLocal" name="nombreEquipoLocal" disabled [(ngModel)]="partidoSeleccionado.nombreEquipoLocal" required>-->
            <select class="form-control" id="inputEquipoLocal" name="idEquipo" disabled [(ngModel)]="partidoSeleccionado.idEquipo" required>
              <option *ngFor="let equipo of equipos" value="{{ equipo.id }}">{{ equipo.nombreEquipo }}</option>
            </select>
          </div>
          <div class="col">
            <label for="inputEquipoVisitante">Equipo Visitante</label>
            <input type="text" class="form-control" id="inputEquipoVisitante" name="nombre_equipo_visitante" disabled [(ngModel)]="partidoSeleccionado.nombre_equipo_visitante" required>
          </div>
          <div class="col">
            <label for="inputFecha">Fecha</label>
            <input type="date" class="form-control" id="inputFecha" name="fecha_partido" disabled [(ngModel)]="partidoSeleccionado.fecha_partido" required>
          </div>
          <div class="col">
            <label for="inputHora">Hora</label>
            <input type="time" class="form-control" id="inputHora" name="hora_partido" disabled [(ngModel)]="partidoSeleccionado.hora_partido" required>
          </div>
          <div class="col">
            <label for="inputUrlDirecto">URL Directo</label>
            <input type="text" class="form-control" id="inputUrlDirecto" name="iptv_url" [disabled]="!editarPartidoTemporada" [(ngModel)]="partidoSeleccionado.iptv_url">
          </div>
        </div>
        <br>
        <a *ngIf="!editarPartidoTemporada" (click)="editar()" class="btn btn-info">Edición</a>
        <button *ngIf="editarPartidoTemporada" [disabled]="!editForm.form.valid" type="submit" class="btn btn-success">Guardar</button>
        <a *ngIf="editarPartidoTemporada" (click)="editarPartidoTemporada = false" class="btn btn-secondary ml-3">Cancelar</a>
        <div class="btn alert-danger ml-3" *ngIf="error">{{ error }}</div>
      </form>
    </div>
  </mat-tab>

  <!--AMISTOSOS-->
  <mat-tab label="Amistosos">
    <div *ngIf="!partidoSeleccionado" class="p-2 mt-4">
      <mat-form-field>
        <input matInput #filter type="text" placeholder="Filtrar" (keyup)="applyFilterPartidosAmistosos($event.target.value)">
      </mat-form-field>

      <button (click)="startAdd()" class="btn btn-success float-right">Añadir</button>

      <div class="mat-elevation-z8">
        <mat-spinner [diameter]="50" *ngIf="isLoadingResults"></mat-spinner>
        <table class="w-100" mat-table [dataSource]="dataSourcePartidosAmistosos" #sortPartidosAmistosos="matSort" matSort>

          <ng-container matColumnDef="nombreEquipoLocal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Equipo Local</th>
            <td mat-cell *matCellDef="let row"> {{row.nombreEquipoLocal}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre_equipo_visitante">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Equipo Visitante</th>
            <td mat-cell *matCellDef="let row"> {{row.nombre_equipo_visitante}} </td>
          </ng-container>

          <ng-container matColumnDef="fecha_partido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
            <td mat-cell *matCellDef="let row"> {{row.fecha_partido}} </td>
          </ng-container>

          <ng-container matColumnDef="hora_partido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora</th>
            <td mat-cell *matCellDef="let row"> {{row.hora_partido}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="pl-4">Acciones</th>
            <td mat-cell *matCellDef="let row">
              <a mat-icon-button class="btn-table text-info" (click)="showItem(row)" tooltip="Mostrar info">
                <mat-icon class="mat-18">reorder</mat-icon>
              </a>
              <a mat-icon-button class="btn-table text-warning" (click)="startEdit(row)" tooltip="Editar">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </a>
              <a mat-icon-button class="btn-table text-info" (click)="delete(row)" tooltip="Borrar">
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>

        <div class="no-results" *ngIf="dataSourcePartidosAmistosos.data.length == 0">
          No hay datos
        </div>

        <mat-paginator #paginatorPartidosAmistosos [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>

    <div *ngIf="partidoSeleccionado && !crearPartido">
      <div class="row mt-4">
        <div class="col-3">
          <h2>Detalles Partido</h2>
        </div>
        <div class="col-9 text-right">
          <a (click)="volver()" class="btn btn-secondary text-white">Volver al listado</a>
        </div>
      </div>
      <form #editForm="ngForm" (ngSubmit)="save()">
        <div class="form-row mt-4">
          <div class="col">
            <label for="inputEquipoLocal">Equipo Local</label>
            <!--<input type="text" class="form-control" id="inputEquipoLocal" name="nombreEquipoLocal" [disabled]="!editarPartidoAmistoso" #inputEquipoLocal="ngModel" [(ngModel)]="partidoSeleccionado.nombreEquipoLocal" required>-->
            <select class="form-control" id="inputEquipoLocal" name="idEquipo" [disabled]="!editarPartidoAmistoso" #inputEquipoLocal="ngModel" [(ngModel)]="partidoSeleccionado.idEquipo" required>
              <option *ngFor="let equipo of equipos" value="{{ equipo.id }}">{{ equipo.nombreEquipo }}</option>
            </select>
            <div *ngIf="!inputEquipoLocal.valid && (inputEquipoLocal.dirty || inputEquipoLocal.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col">
            <label for="inputEquipoVisitante">Equipo Visitante</label>
            <input type="text" class="form-control" id="inputEquipoVisitante" name="nombre_equipo_visitante" [disabled]="!editarPartidoAmistoso" #inputEquipoVisitante="ngModel" [(ngModel)]="partidoSeleccionado.nombre_equipo_visitante" required>
            <div *ngIf="!inputEquipoVisitante.valid && (inputEquipoVisitante.dirty || inputEquipoVisitante.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col">
            <label for="inputFecha">Fecha</label>
            <input type="date" class="form-control" id="inputFecha" name="fecha_partido" [disabled]="!editarPartidoAmistoso" #inputFecha="ngModel" [(ngModel)]="partidoSeleccionado.fecha_partido" required>
            <div *ngIf="!inputFecha.valid && (inputFecha.dirty || inputFecha.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col">
            <label for="inputHora">Hora</label>
            <input type="time" class="form-control" id="inputHora" name="hora_partido" #inputHora="ngModel" [disabled]="!editarPartidoAmistoso" [(ngModel)]="partidoSeleccionado.hora_partido" required>
            <div *ngIf="!inputHora.valid && (inputHora.dirty || inputHora.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col">
            <label for="inputUrlDirecto">URL Directo</label>
            <input type="text" class="form-control" id="inputUrlDirecto" name="iptv_url" [disabled]="!editarPartidoAmistoso" [(ngModel)]="partidoSeleccionado.iptv_url">
          </div>
        </div>
        <br>
        <a *ngIf="!editarPartidoAmistoso" (click)="editar()" class="btn btn-info">Edición</a>
        <button *ngIf="editarPartidoAmistoso" [disabled]="!editForm.form.valid" type="submit" class="btn btn-success">Guardar</button>
        <a *ngIf="editarPartidoAmistoso" (click)="editarPartidoAmistoso = false" class="btn btn-secondary ml-3">Cancelar</a>
        <div class="btn alert-danger ml-3" *ngIf="error">{{ error }}</div>
      </form>
    </div>

    <div *ngIf="crearPartido">
      <div class="row mt-4">
        <div class="col-3">
          <h2>Añadir Partido</h2>
        </div>
        <div class="col-9 text-right">
          <a (click)="volver()" class="btn btn-light">Volver al listado</a>
        </div>
      </div>
      <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
        <mat-tab label="Nuevo">
          <form #addForm="ngForm" class="p-2" (ngSubmit)="store()">
            <div class="form-row mt-4">
              <div class="col">
                <label for="inputAddEquipoLocal">Equipo Local</label>
                <!--<input type="text" class="form-control" id="inputAddEquipoLocal" name="nombreEquipoLocal" #inputAddEquipoLocal="ngModel" [(ngModel)]="partidoSeleccionado.nombreEquipoLocal" required>-->
                <select class="form-control" id="inputAddEquipoLocal" name="idEquipo" #inputAddEquipoLocal="ngModel" [(ngModel)]="partidoSeleccionado.idEquipo" required>
                  <option *ngFor="let equipo of equipos" value="{{ equipo.id }}">{{ equipo.nombreEquipo }}</option>
                </select>
                <div *ngIf="!inputAddEquipoLocal.valid && (inputAddEquipoLocal.dirty || inputAddEquipoLocal.touched)" class="text-danger">Campo requerido</div>
              </div>
              <div class="col">
                <label for="inputAddEquipoVisitante">Equipo Visitante</label>
                <input type="text" class="form-control" id="inputAddEquipoVisitante" name="nombre_equipo_visitante" #inputAddEquipoVisitante="ngModel" [(ngModel)]="partidoSeleccionado.nombre_equipo_visitante" required>
                <div *ngIf="!inputAddEquipoVisitante.valid && (inputAddEquipoVisitante.dirty || inputAddEquipoVisitante.touched)" class="text-danger">Campo requerido</div>
              </div>
              <div class="col">
                <label for="inputAddFecha">Fecha</label>
                <input type="date" class="form-control" id="inputAddFecha" name="fecha_partido" #inputAddFecha="ngModel" [(ngModel)]="partidoSeleccionado.fecha_partido" required>
                <div *ngIf="!inputAddFecha.valid && (inputAddFecha.dirty || inputAddFecha.touched)" class="text-danger">Campo requerido</div>
              </div>
              <div class="col">
                <label for="inputAddHora">Hora</label>
                <input type="time" class="form-control" id="inputAddHora" name="hora_partido" #inputAddHora="ngModel" [(ngModel)]="partidoSeleccionado.hora_partido" required>
                <div *ngIf="!inputAddHora.valid && (inputAddHora.dirty || inputAddHora.touched)" class="text-danger">Campo requerido</div>
              </div>
              <div class="col">
                <label for="inputAddUrlDirecto">URL Directo</label>
                <input type="text" class="form-control" id="inputAddUrlDirecto" name="iptv_url" [(ngModel)]="partidoSeleccionado.iptv_url">
              </div>
            </div>
            <br>
            <button [disabled]="!addForm.form.valid" type="submit" class="btn btn-success">Guardar</button>
            <a (click)="volver()" class="btn btn-secondary ml-3">Cancelar</a>
            <div class="btn alert-danger ml-3" *ngIf="error">{{ error }}</div>
          </form>
        </mat-tab>
      </mat-tab-group>
    </div>

  </mat-tab>
</mat-tab-group>
<ngx-spinner
  bdColor = "rgba(51,51,51,0.8)"
  size = "medium"
  color = "#fff"
  type = "ball-climbing-dot"
  [fullScreen] = "true"
>
  <p style="color: white" > Espere por favor... </p>
</ngx-spinner>