.navbar {
  max-height: 50px;
}
.navbar img {
  height: 50px;
}
.navbar:nth-child(odd) {
  color: #ff9900;
  font-size: 1.5em;
}
#salir {
  color: #00cc66;
  cursor: pointer;
}
#salir:hover {
  color: #ff9900;
}
.nav-link {
  cursor: pointer;
}
[role="main"] {
  padding-top: 50px; /* Space for fixed navbar */
}

