/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.mat-tab-body-content {
  overflow: hidden !important;
}
ng-sidebar-container {
  height: 100vh !important;
  top: 50px;
  position: fixed !important;
}
ng-sidebar aside {
  width: 150px;
  color: #ff9900;
  background-color: #343a40;
}

ng-sidebar aside ul li{
  display:block;
  float:none;
  border-bottom:1px solid rgba(255,255,255, .3);
}

ng-sidebar aside ul li .nav-link{
  padding: 10px 35px 10px 15px !important;
  padding-top: 10px;
  padding-right: 35px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.ng-sidebar__content > div{
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 30%;
}
/*.ng-sidebar__content{
  padding: 0px 0px 0px 200px !important;
}*/
ng-sidebar aside ul li a:hover{
    margin-left: 15px;
}