<div *ngIf="!modal && !assignarPersona" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Mis Datos</h1>
</div>

<form #editForm="ngForm" (ngSubmit)="save()">
  <!--<div class="form-row">
    <div class="col-1">
      <label for="inputId">Id</label>
      <input type="number" class="form-control" id="inputId" name="id" value="{{personaSeleccionada.id}}" [(ngModel)]="personaSeleccionada.id" disabled>
    </div>
  </div>-->
  <div class="form-row mt-3">
    <div class="col">
      <label for="inputNombre">Nombre</label>
      <input type="text" class="form-control" id="inputNombre" name="nombre" #inputNombre="ngModel" [disabled]="!editarPersona" [(ngModel)]="personaSeleccionada.nombre" required>
      <div *ngIf="!inputNombre.valid && (inputNombre.dirty || inputNombre.touched) && editarPersona" class="text-danger">Campo requerido</div>
    </div>
    <div class="col">
      <label for="inputPrimerApellido">Primer Apellido</label>
      <input type="text" class="form-control" id="inputPrimerApellido" name="primer_apellido" #inputPrimerApellido="ngModel" [disabled]="!editarPersona" [(ngModel)]="personaSeleccionada.primer_apellido" required>
      <div *ngIf="!inputPrimerApellido.valid && (inputPrimerApellido.dirty || inputPrimerApellido.touched) && editarPersona" class="text-danger">Campo requerido</div>
    </div>
    <div class="col">
      <label for="inputSegundoApellido">Segundo Apellido</label>
      <input type="text" class="form-control" id="inputSegundoApellido" name="segundo_apellido" [disabled]="!editarPersona" [(ngModel)]="personaSeleccionada.segundo_apellido">
    </div>
  </div>
  <div class="form-row mt-3">
    <div class="col">
      <label for="inputDni">D.N.I./N.I.E</label>
      <input type="text" class="form-control" id="inputDni" name="dni" [disabled]="!editarPersona" #inputDni="ngModel" [(ngModel)]="personaSeleccionada.dni" required>
      <div *ngIf="!inputDni.valid && (inputDni.dirty || inputDni.touched) && editarPersona" class="text-danger">Campo requerido</div>
    </div>
    <div class="col">
      <label for="inputFechaNacimiento">Fecha Nacimiento</label>
      <input type="date" class="form-control" id="inputFechaNacimiento" name="fecha_nacimiento" #inputFechaNacimiento="ngModel" [disabled]="!editarPersona" [(ngModel)]="personaSeleccionada.fecha_nacimiento" required>
      <div *ngIf="!inputFechaNacimiento.valid && (inputFechaNacimiento.dirty || inputFechaNacimiento.touched) && editarPersona" class="text-danger">Campo requerido</div>
    </div>
    <!--<div class="col">
      <label for="inputEdad">Edad</label>
      <input type="number" class="form-control" id="inputEdad" name="edad" #inputEdad="ngModel" disabled [(ngModel)]="personaSeleccionada.edad">
    </div>-->
    <div class="col">
      <label for="inputTelefono1">Teléfono 1</label>
      <input type="text" class="form-control" id="inputTelefono1" name="telefono1" #inputTelefono1="ngModel" [disabled]="!editarPersona" [(ngModel)]="personaSeleccionada.telefono1" required>
      <div *ngIf="!inputTelefono1.valid && (inputTelefono1.dirty || inputTelefono1.touched) && editarPersona" class="text-danger">Campo requerido</div>
    </div>
    <div class="col">
      <label for="inputTelefono2">Teléfono 2</label>
      <input type="text" class="form-control" id="inputTelefono2" name="telefono2"[disabled]="!editarPersona" [(ngModel)]="personaSeleccionada.telefono2">
    </div>
  </div>
  <div class="form-row mt-3">
    <div class="col-6">
      <label for="inputDireccion">Dirección</label>
      <input type="text" class="form-control" id="inputDireccion" name="direccion" #inputDireccion="ngModel" [disabled]="!editarPersona" [(ngModel)]="personaSeleccionada.direccion" required>
      <div *ngIf="!inputDireccion.valid && (inputDireccion.dirty || inputDireccion.touched) && editarPersona" class="text-danger">Campo requerido</div>
    </div>
    <div class="col-2">
      <label for="inputCodigoPostal">Código Postal</label>
      <input type="text" class="form-control" id="inputCodigoPostal" name="codigo_postal" #inputCodigoPostal="ngModel" [disabled]="!editarPersona" [(ngModel)]="personaSeleccionada.codigo_postal" required>
      <div *ngIf="!inputCodigoPostal.valid && (inputCodigoPostal.dirty || inputCodigoPostal.touched) && editarPersona" class="text-danger">Campo requerido</div>
    </div>
    <div class="col-4">
      <label for="inputLocalidad">Población</label>
      <input type="text" class="form-control" id="inputLocalidad" name="localidad" #inputLocalidad="ngModel" [(ngModel)]="personaSeleccionada.localidad" [disabled]="!editarPersona" required>
      <div *ngIf="!inputLocalidad.valid && (inputLocalidad.dirty || inputLocalidad.touched) && editarPersona" class="text-danger">Campo requerido</div>
    </div>
  </div>
  <div class="form-row mt-3">
    <div class="col">
      <label for="inputEmail">Correo electrónico</label>
      <input type="email" class="form-control" id="inputEmail" name="email" #inputEmail="ngModel" [(ngModel)]="personaSeleccionada.email" [disabled]="!editarPersona" required>
      <div *ngIf="!inputEmail.valid && (inputEmail.dirty || inputEmail.touched) && editarPersona" class="text-danger">El correo debe tener un formato correcto</div>
    </div>
    <div class="col">
        <label for="selectSexo">Sexo</label>
        <select class="form-control" id="selectSexo" [disabled]="!editarPersona" name="id_sexo" #selectSexo="ngModel" [(ngModel)]="personaSeleccionada.id_sexo" required>
          <option *ngFor="let sexo of sexos" value="{{ sexo.id }}">{{ sexo.sexo }}</option>
        </select>
        <div *ngIf="!selectSexo.valid && (selectSexo.dirty || selectSexo.touched) && editarPersona" class="text-danger">Campo requerido</div>
    </div>
  </div>
  <div class="form-row mt-3">
    <div class="col" [hidden]="soyTutor">
      <label for="inputTarjetaSanitaria">Tarjeta Sanitaria</label>
      <input type="text" class="form-control" id="inputTarjetaSanitaria" name="tarjetaSanitaria" #inputTarjetaSanitaria="ngModel" [(ngModel)]="personaSeleccionada.tarjetaSanitaria" [disabled]="!editarPersona" required>
      <div *ngIf="!inputTarjetaSanitaria.valid && (inputTarjetaSanitaria.dirty || inputTarjetaSanitaria.touched) && editarPersona" class="text-danger">Campo requerido</div>
    </div>
    <div class="col" [hidden]="soyTutor">
      <label for="inputCodigoPostal">Observaciones</label>
      <textarea class="form-control" id="inputObservaciones" name="observaciones" [disabled]="!editarPersona" [(ngModel)]="personaSeleccionada.observaciones"></textarea>
    </div>
  </div>
  <div class="mt-3">
    <a *ngIf="!editarPersona" (click)="editar()" class="btn btn-info">Edición</a>
    <button *ngIf="editarPersona" [disabled]="!editForm.form.valid" type="submit" class="btn btn-success">Guardar</button>
    <a *ngIf="editarPersona" (click)="editarPersona = false;ngOnInit()" class="btn btn-secondary ml-3">Cancelar</a>
    <div class="btn alert-danger ml-3" *ngIf="error">{{ error }}</div>
  </div>
</form>

<br>
<div *ngIf="!modal && !assignarPersona && isSocio" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Socio <i *ngIf="isSocioInTemporada" class='far fa-check-circle text-success'></i> <i *ngIf="!isSocioInTemporada" class='fas fa-plus-circle text-danger' style="transform: rotate(45deg);"></i></h1>
</div>

<div *ngIf="isSocio" class="card__container">
  <div class="front__container">
    <div class="front__wrapper">
      <div class="front__data__socio">
        <div>
          <span class="front__title">CARNET DE SOCI</span>
        </div>
        <div class="box__temporada__socio">
          <div class="container__temporada">
            <span class="container__title">TEMPORADA</span>
            <div class="card__input__box">{{ socio.temporada }}</div>
          </div>
          <div class="container__socio">
            <span class="container__title">NºSOCI</span>
            <div class="card__input__box">{{ socio.partner_code }}</div>
          </div>
        </div>
        <div class="container__name">
          <span class="container__title">NOM I COGNOMS</span>
          <div class="card__input__box">{{ socio.nombre }} {{ socio.primer_apellido }}</div>
        </div>
      </div>

      <img class="front__img__bull" src="../../../assets/bull_cbulloret.png" alt="Bull Lloret" />
    </div>
  </div>
</div>

<br>
<div *ngIf="!modal && !assignarPersona && soyTutor" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Familiares</h1>
</div>

<div *ngIf="!jugadorSeleccionado && soyTutor" [ngClass]="{'mt-3':modal}">
  <!--<mat-form-field>
    <input matInput type="text" placeholder="Filtrar" (keyup)="applyFilter($event.target.value)">
  </mat-form-field>

  <mat-form-field class="ml-5">
    <mat-label>Mètodo de visualización</mat-label>
    <mat-select [(value)]="metodoVisualizacion" (valueChange)="ngOnInit();ngAfterViewInit()">
      <mat-option [value]="'alta'">Alta</mat-option>
      <mat-option [value]="'baja'">Baja</mat-option>
      <mat-option [value]="'all'">Todo</mat-option>
    </mat-select>
  </mat-form-field>

  <button *ngIf="!modal && !assignarPersona" (click)="startAdd()" class="btn btn-success float-right">Añadir</button>-->

  <div class="mat-elevation-z8">
    <mat-spinner [diameter]="50" *ngIf="isLoadingResults"></mat-spinner>
    <table class="w-100" mat-table [dataSource]="dataSourceJ" matSort matSortActive="primer_apellido" matSortStart="asc">

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="primer_apellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Primer Apellido </th>
        <td mat-cell *matCellDef="let row"> {{row.primer_apellido}} </td>
      </ng-container>

      <ng-container matColumnDef="segundo_apellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Segundo Apellido </th>
        <td mat-cell *matCellDef="let row"> {{row.segundo_apellido}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha_nacimiento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Nacimiento </th>
        <td mat-cell *matCellDef="let row"> {{row.fecha_nacimiento | date:'dd-MM-yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="sexo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexo </th>
        <td mat-cell *matCellDef="let row"> {{row.sexo}} </td>
      </ng-container>

      <ng-container matColumnDef="observaciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Observaciones </th>
        <td mat-cell *matCellDef="let row"> {{row.observaciones}} </td>
      </ng-container>

      <!-- Acciones sin modal -->
      <ng-container *ngIf="!modal && !assignarPersona" matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="pl-4">Acciones</th>
        <td mat-cell *matCellDef="let row">
          <a mat-icon-button class="btn-table text-info" (click)="showItem(row)" tooltip="Mostrar info">
            <mat-icon class="mat-18">reorder</mat-icon>
          </a>

          <a mat-icon-button class="btn-table text-warning" (click)="startEdit(row)" tooltip="Editar">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </a>
        </td>
      </ng-container>

      <!-- Acciones en modal -->
      <ng-container *ngIf="modal" matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <a mat-icon-button class="btn-table text-info" (click)="addJugadorToFamiliar(row)" tooltip="Añadir">
            <mat-icon class="mat-18">add</mat-icon>
          </a>
        </td>
      </ng-container>

      <!-- Acciones en assignarPersona -->
      <ng-container *ngIf="assignarPersona" matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <a mat-icon-button class="btn-table text-info" (click)="assigna(row)" tooltip="Añadir">
            <mat-icon class="mat-18">add</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsJ"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsJ;">
      </tr>
    </table>

    <div class="no-results" *ngIf="dataSourceJ.data.length == 0">
      No hay datos
    </div>

  </div>
</div>

<div *ngIf="jugadorSeleccionado  && !crearJugador">
  <div class="row">
    <div class="col-3">
      <h2>Detalles Jugador</h2>
    </div>
    <div class="col-9 text-right">
      <a (click)="volver()" class="btn btn-secondary text-white">Volver al listado</a>
    </div>
  </div>
  <form #editForm="ngForm" (ngSubmit)="saveJugador()">
    <!--<div class="form-row">
      <div class="col-1">
        <label for="inputId">Id</label>
        <input type="number" class="form-control" id="inputId" name="id" value="{{jugadorSeleccionado.id}}" [(ngModel)]="jugadorSeleccionado.id" disabled>
      </div>
    </div>-->
    <div class="form-row mt-3">
      <div class="col">
        <label for="inputNombreJ">Nombre</label>
        <input type="text" class="form-control" id="inputNombreJ" name="nombre" #inputNombreJ="ngModel" [disabled]="!editarJugador" [(ngModel)]="jugadorSeleccionado.nombre" required>
        <div *ngIf="!inputNombreJ.valid && (inputNombreJ.dirty || inputNombreJ.touched)" class="text-danger">Campo requerido</div>
      </div>
      <div class="col">
        <label for="inputPrimerApellidoJ">Primer Apellido</label>
        <input type="text" class="form-control" id="inputPrimerApellidoJ" name="primer_apellido" #inputPrimerApellidoJ="ngModel" [disabled]="!editarJugador" [(ngModel)]="jugadorSeleccionado.primer_apellido" required>
        <div *ngIf="!inputPrimerApellidoJ.valid && (inputPrimerApellidoJ.dirty || inputPrimerApellidoJ.touched)" class="text-danger">Campo requerido</div>
      </div>
      <div class="col">
        <label for="inputSegundoApellidoJ">Segundo Apellido</label>
        <input type="text" class="form-control" id="inputSegundoApellidoJ" name="segundo_apellido" [disabled]="!editarJugador" [(ngModel)]="jugadorSeleccionado.segundo_apellido">
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="col">
        <label for="inputDniJ">D.N.I./N.I.E</label>
        <input type="text" class="form-control" id="inputDniJ" name="dni" [disabled]="!editarJugador" #inputDniJ="ngModel" [(ngModel)]="jugadorSeleccionado.dni" required>
        <div *ngIf="!inputDniJ.valid && (inputDniJ.dirty || inputDniJ.touched)" class="text-danger">Campo requerido</div>
      </div>
      <div class="col">
        <label for="inputFechaNacimientoJ">Fecha Nacimiento</label>
        <input type="date" class="form-control" id="inputFechaNacimientoJ" name="fecha_nacimiento" #inputFechaNacimientoJ="ngModel" [disabled]="!editarJugador" [(ngModel)]="jugadorSeleccionado.fecha_nacimiento" required>
        <div *ngIf="!inputFechaNacimientoJ.valid && (inputFechaNacimientoJ.dirty || inputFechaNacimientoJ.touched)" class="text-danger">Campo requerido</div>
      </div>
      <!--<div class="col">
        <label for="inputEdadJ">Edad</label>
        <input type="number" class="form-control" id="inputEdadJ" name="edad" #inputEdad="ngModel" disabled [(ngModel)]="jugadorSeleccionado.edad">
      </div>-->
      <div class="col">
        <label for="inputTelefono1J">Teléfono 1</label>
        <input type="text" class="form-control" id="inputTelefono1J" name="telefono1" #inputTelefono1J="ngModel" [disabled]="!editarJugador" [(ngModel)]="jugadorSeleccionado.telefono1" required>
        <div *ngIf="!inputTelefono1J.valid && (inputTelefono1J.dirty || inputTelefono1J.touched)" class="text-danger">Campo requerido</div>
      </div>
      <div class="col">
        <label for="inputTelefono2J">Teléfono 2</label>
        <input type="text" class="form-control" id="inputTelefono2J" name="telefono2"[disabled]="!editarJugador" [(ngModel)]="jugadorSeleccionado.telefono2">
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="col-6">
        <label for="inputDireccionJ">Dirección</label>
        <input type="text" class="form-control" id="inputDireccionJ" name="direccion" #inputDireccionJ="ngModel" [disabled]="!editarJugador" [(ngModel)]="jugadorSeleccionado.direccion" required>
        <div *ngIf="!inputDireccionJ.valid && (inputDireccionJ.dirty || inputDireccionJ.touched)" class="text-danger">Campo requerido</div>
      </div>
      <div class="col-2">
        <label for="inputCodigoPostalJ">Código Postal</label>
        <input type="text" class="form-control" id="inputCodigoPostalJ" name="codigo_postal" #inputCodigoPostalJ="ngModel" [disabled]="!editarJugador" [(ngModel)]="jugadorSeleccionado.codigo_postal" required>
        <div *ngIf="!inputCodigoPostalJ.valid && (inputCodigoPostalJ.dirty || inputCodigoPostalJ.touched)" class="text-danger">Campo requerido</div>
      </div>
      <div class="col-4">
        <label for="inputLocalidadJ">Población</label>
        <input type="text" class="form-control" id="inputLocalidadJ" name="localidad" #inputLocalidadJ="ngModel" [(ngModel)]="jugadorSeleccionado.localidad" [disabled]="!editarJugador" required>
        <div *ngIf="!inputLocalidadJ.valid && (inputLocalidadJ.dirty || inputLocalidadJ.touched)" class="text-danger">Campo requerido</div>
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="col">
        <label for="inputEmailJ">Correo electrónico</label>
        <input type="email" class="form-control" id="inputEmailJ" name="email" #inputEmailJ="ngModel" [(ngModel)]="jugadorSeleccionado.email" [disabled]="!editarJugador" required>
        <div *ngIf="!inputEmailJ.valid && (inputEmailJ.dirty || inputEmailJ.touched)" class="text-danger">El correo debe tener un formato correcto</div>
      </div>
      <div class="col">
        <label for="inputCodigoPostalJ">Observaciones</label>
        <textarea class="form-control" id="inputObservacionesJ" name="observaciones" [disabled]="!editarJugador" [(ngModel)]="jugadorSeleccionado.observaciones"></textarea>
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="col">
        <label for="inputTarjetaSanitariaJ">Tarjeta Sanitaria</label>
        <input type="text" class="form-control" id="inputTarjetaSanitariaJ" name="tarjetaSanitaria" #inputTarjetaSanitariaJ="ngModel" [(ngModel)]="jugadorSeleccionado.tarjetaSanitaria" [disabled]="!editarJugador" required>
        <div *ngIf="!inputTarjetaSanitariaJ.valid && (inputTarjetaSanitariaJ.dirty || inputTarjetaSanitariaJ.touched)" class="text-danger">Campo requerido</div>
      </div>
      <div class="col">
          <label for="selectSexoJ">Sexo</label>
          <select class="form-control" id="selectSexoJ" [disabled]="!editarJugador" name="id_sexo" #selectSexoJ="ngModel" [(ngModel)]="jugadorSeleccionado.id_sexo" required>
            <option *ngFor="let sexo of sexos" value="{{ sexo.id }}">{{ sexo.sexo }}</option>
          </select>
          <div *ngIf="!selectSexoJ.valid && (selectSexoJ.dirty || selectSexoJ.touched)" class="text-danger">Campo requerido</div>
      </div>
    </div>

    <div class="mt-3">
      <a *ngIf="!editarJugador" (click)="editarJ()" class="btn btn-info">Edición</a>
      <button *ngIf="editarJugador" [disabled]="!editForm.form.valid" type="submit" class="btn btn-success">Guardar</button>
      <a *ngIf="editarJugador" (click)="editarJugador = false" class="btn btn-secondary ml-3">Cancelar</a>
      <div class="btn alert-danger ml-3" *ngIf="errorJugador">{{ errorJugador }}</div>
    </div>
  </form>
</div>
<ngx-spinner
  bdColor = "rgba(51,51,51,0.8)"
  size = "medium"
  color = "#fff"
  type = "ball-climbing-dot"
  [fullScreen] = "true"
>
  <p style="color: white" > Espere por favor... </p>
</ngx-spinner>

<!--<div *ngIf="crearJugador">
  <div class="row">
    <div class="col-5">
      <h2>Añadir Jugador</h2>
    </div>
    <div class="col-4">
      <mat-form-field>
        <mat-label [ngClass]="{'text-danger': parentescoSeleccionado === undefined}">Selecciona el parentesco</mat-label>
        <mat-select [(value)]="parentescoSeleccionado">
          <mat-option *ngFor="let tipo of tiposParentesco" [value]="tipo.id">{{tipo.tipo_parentesco}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-3 text-right">
      <a (click)="volver()" class="btn btn-secondary text-white">Volver al listado</a>
    </div>
  </div>
  <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
    <mat-tab label="Nuevo">
      <form #addForm="ngForm" class="p-2" (ngSubmit)="store()">
        <div class="form-row mt-3">
          <div class="col">
            <label for="inputAddNombre">Nombre</label>
            <input type="text" class="form-control" id="inputAddNombre" name="nombre" #inputAddNombre="ngModel" [(ngModel)]="jugadorSeleccionado.nombre" required>
            <div *ngIf="!inputAddNombre.valid && (inputAddNombre.dirty || inputAddNombre.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col">
            <label for="inputAddPrimerApellido">Primer Apellido</label>
            <input type="text" class="form-control" id="inputAddPrimerApellido" name="primer_apellido" #inputAddPrimerApellido="ngModel" [(ngModel)]="jugadorSeleccionado.primer_apellido" required>
            <div *ngIf="!inputAddPrimerApellido.valid && (inputAddPrimerApellido.dirty || inputAddPrimerApellido.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col">
            <label for="inputAddSegundoApellido">Segundo Apellido</label>
            <input type="text" class="form-control" id="inputAddSegundoApellido" name="segundo_apellido" [(ngModel)]="jugadorSeleccionado.segundo_apellido">
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col">
            <label for="inputAddDni">D.N.I./N.I.E</label>
            <input type="text" class="form-control" id="inputAddDni" name="dni" #inputAddDni="ngModel" [(ngModel)]="jugadorSeleccionado.dni" required>
            <div *ngIf="!inputAddDni.valid && (inputAddDni.dirty || inputAddDni.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col">
            <label for="inputAddFechaNacimiento">Fecha Nacimiento</label>
            <input type="date" class="form-control" id="inputAddFechaNacimiento" name="fecha_nacimiento" #inputAddFechaNacimiento="ngModel" [(ngModel)]="jugadorSeleccionado.fecha_nacimiento" required>
            <div *ngIf="!inputAddFechaNacimiento.valid && (inputAddFechaNacimiento.dirty || inputAddFechaNacimiento.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col">
            <label for="inputAddTelefono1">Teléfono 1</label>
            <input type="text" class="form-control" id="inputAddTelefono1" name="telefono1" #inputAddTelefono1="ngModel" [(ngModel)]="jugadorSeleccionado.telefono1" required>
            <div *ngIf="!inputAddTelefono1.valid && (inputAddTelefono1.dirty || inputAddTelefono1.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col">
            <label for="inputAddTelefono2">Teléfono 2</label>
            <input type="text" class="form-control" id="inputAddTelefono2" name="telefono2" [(ngModel)]="jugadorSeleccionado.telefono2">
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col-6">
            <label for="inputAddDireccion">Dirección</label>
            <input type="text" class="form-control" id="inputAddDireccion" name="direccion" #inputAddDireccion="ngModel" [(ngModel)]="jugadorSeleccionado.direccion" required>
            <div *ngIf="!inputAddDireccion.valid && (inputAddDireccion.dirty || inputAddDireccion.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col-2">
            <label for="inputAddCodigoPostal">Código Postal</label>
            <input type="text" class="form-control" id="inputAddCodigoPostal" name="codigo_postal" #inputAddCodigoPostal="ngModel" [(ngModel)]="jugadorSeleccionado.codigo_postal" required>
            <div *ngIf="!inputAddCodigoPostal.valid && (inputAddCodigoPostal.dirty || inputAddCodigoPostal.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col-4">
            <label for="inputAddLocalidad">Población</label>
            <input type="text" class="form-control" id="inputAddLocalidad" name="localidad" #inputAddLocalidad="ngModel" [(ngModel)]="jugadorSeleccionado.localidad" required />
            <div *ngIf="!inputAddLocalidad.valid && (inputAddLocalidad.dirty || inputAddLocalidad.touched)" class="text-danger">Campo requerido</div>
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col">
            <label for="inputAddEmail">Correo electrónico</label>
            <input type="email" class="form-control" id="inputAddEmail" name="email" #inputAddEmail="ngModel" [email]="true" [(ngModel)]="jugadorSeleccionado.email" required />
            <div *ngIf="!inputAddEmail.valid && (inputAddEmail.dirty || inputAddEmail.touched)" class="text-danger">El correo debe tener un formato correcto</div>
          </div>
          <div class="col">
            <label for="inputAddCodigoPostal">Observaciones</label>
            <textarea class="form-control" id="inputAddObservaciones" name="observaciones" [(ngModel)]="jugadorSeleccionado.observaciones"></textarea>
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col">
            <label for="inputAddTarjetaSanitaria">Tarjeta Sanitaria</label>
            <input type="text" class="form-control" id="inputAddTarjetaSanitaria" name="tarjetaSanitaria" #inputAddTarjetaSanitaria="ngModel" [(ngModel)]="jugadorSeleccionado.tarjetaSanitaria" required>
            <div *ngIf="!inputAddTarjetaSanitaria.valid && (inputAddTarjetaSanitaria.dirty || inputAddTarjetaSanitaria.touched)" class="text-danger">Campo requerido</div>
          </div>
          <div class="col">
            <label for="selectAddSexo">Sexo</label>
            <select class="form-control" id="selectAddSexo" name="id_sexo" #selectAddSexo="ngModel" [(ngModel)]="jugadorSeleccionado.id_sexo" required>
              <option *ngFor="let sexo of sexos" value="{{ sexo.id }}">{{ sexo.sexo }}</option>
            </select>
            <div *ngIf="!selectAddSexo.valid && (selectAddSexo.dirty || selectAddSexo.touched)" class="text-danger">Campo requerido</div>
          </div>
        </div>
        <div class="form-row mt-3">
          <mat-label [ngClass]="{'text-danger': parentescoSeleccionado === undefined}">Selecciona el parentesco</mat-label>
          <mat-select [(value)]="parentescoSeleccionado">
            <mat-option *ngFor="let tipo of tiposParentesco" [value]="tipo.id">
              {{tipo.tipo_parentesco}}
            </mat-option>
          </mat-select>
        </div>
        <div class="mt-3">
          <button [disabled]="!addForm.form.valid" type="submit" class="btn btn-success">Guardar</button>
          <a (click)="volver()" class="btn btn-secondary ml-3">Cancelar</a>
          <div class="btn alert-danger ml-3" *ngIf="errorJugador">{{ errorJugador }}</div>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>-->
